.col-xs-12.nudge-down
  -if request.url.include? 'incorrect_winner'
    .alert.alert-danger
      Incorrect winner selected. Voting has been locked.
  -if request.url.include? 'already_submitted'
    .alert.alert-warning
      Replay already submitted.
  .help-block
    Download the replay and indicate whether the specified player is innocent or guilty.
  .col-xs-12
  %blockquote
    .form-group
      %label
        Name:
        %a{ href: @player.bnet_url }
          =@player.name
          %span.glyphicon.glyphicon-share
    .form-group
      %label ID:
      #{@player.id}
    .form-group
      %label Server:
      #{@player.server.upcase}
    .form-group
      %label Map:
      #{@game.map}
    .form-group
      %label Date:
      #{@game.date.strftime("%Y-%m-%d %l:%M.%S")}
    .form-group
      %label Replay
      .row
        .col-xs-6
          %a.btn.btn-default.form-control(href="https://sc2replaystats.com/download/#{params[:game_id]}") Direct Download
        .col-xs-6
          %a.btn.btn-default.form-control(href="https://sc2replaystats.com/replay/#{params[:game_id]}") Sc2ReplayStats
  .form-group
    %label Evidence
    %pre(style="word-wrap:normal; white-space:pre-line;word-break:normal")
      :preserve
        #{@game_player.evidence}
  %form(method="post")
    %label Vote
    .form-group
      %select.form-control#winner(name="winner_confirm")
        %option(disabled="" selected) Who won this game?
        -@game.players.each do |p|
          %option{ value: p.id } #{p.name} (#{p.id})
    .form-group
      %select.form-control(name="verdict")
        %option(disabled="" selected) Verdict?
        %option Innocent
        %option Guilty
      -if @can_vote
        %button.btn.btn-default.form-control(type="submit") Submit

