.col-xs-12.nudge-down
  %h4
    %a{ href: @player.bnet_url }
      =@player.name
      %span.glyphicon.glyphicon-share
  %p Also known as: #{@player.names.map(&:value).join(', ')}
.col-xs-12.nudge-down
  %table.table.table-striped.table-hover.table-bordered
    %thead
      %tr
        %td Map
        %td Played
        %td Uploaded
    %tbody
      -@player.accused_games.each do |g|
        %tr
          %td
            %a(href="/players/#{@player.id}/game/#{g.id}") #{g.map}
          %td #{Time.at(g.date).to_date}
          %td #{g.uploaded_at.to_date}
