.col-xs-12.nudge-down
	.help-block
		Download the replay and indicate whether the specified player is innocent or guilty.
-if request.url.include? 'incorrect_winner'
	.alert.alert-danger
		Incorrect winner selected. Voting has been locked.
.col-xs-4
	.form-group
		%label Name
		%input.form-control(value="#{@player.name}" readonly)
	.form-group
		%label Server
		%input.form-control(value="#{@player.server}" readonly)
	.form-group
		%label Map
		%input.form-control(value="#{@game.map}" readonly)
	.form-group
		%label Time
		%input.form-control(value="#{@game.time}" readonly)
	.form-group
		%label Replay
		%a.btn.btn-default.form-control(href="/game/download/#{@game.id}") Download
	.form-group
		%label Evidence
		%pre
			:preserve
				#{@game.evidence}
	%form(method="post")
		%label Vote
		.form-group
			%select.form-control#winner(name="winner_confirm")
				%option(disabled="" selected) Who won this game?
				-@game.players.each do |p|
					%option #{p.name}
		.form-group
			%select.form-control(name="verdict")
				%option(disabled="" selected) Verdict?
				%option Innocent
				%option Guilty
			-if @can_vote
				%button.btn.btn-default.form-control(type="submit") Submit

