.col-xs-12.nudge-down
	%table.table.table-striped.table-hover.table-bordered
		%thead
			%tr
				%td Player
				%td Map
				%td Played
				%td Uploaded
		%tbody
			-@games.each do |g|
				%tr
					%td #{g.player.name}
					%td
						%a(href="/game/#{g.id}") #{g.map}
					%td #{g.time[0..10]}
					%td #{g.uploaded_at.to_date}
