.col-xs-12.nudge-down
  -if request.url.include? 'invalid_version'
    .alert.alert-danger
      Invalid replay version uploaded - Contact me using the links at the bottom of the page.
  .panel.panel-default
    .panel-heading
      .panel-title
        ༼ つ ◕_◕༽つ NEWS ༼ つ ◕_◕༽つ
    .panel-body
      %p
        Sc2Overwatch is now powered by Sc2ReplayStats!
.col-xs-12.nudge-down
  %h5 Recently reported players
  %table.table.table-hover
    %thead
      %tr
        %td Server
        %td Race
        %td Name
        %td Battle.net ID
        %td Game
        %td Date
        %td Innocent Votes
        %td Guilty Votes
    %tbody
      -GamePlayer.all_accused.each do |gp|
        %tr{ class: gp.css_class }
          %td
            %img(src="/img/#{gp.player.server}.png")
            =gp.player.server
          %td
            %img(src="#{get_race_image(gp.race)}")
          %td
            %a(href="/players/#{gp.player.id}/games" title="View all games for this player") #{gp.player.names.last.value}
          %td
            %a{ href: gp.player.bnet_url }
              =gp.player.bnet_id
              %span.glyphicon.glyphicon-share
          %td
            %a(href="/players/#{gp.player.id}/game/#{gp.game.id}" title="View this game") #{gp.game.map}
          %td=gp.game.date.strftime('%Y-%m-%d')
          %td=gp.innocent_count
          %td=gp.guilty_count
