.col-xs-5.nudge-down
	%p.help-block
		Simple app to catch hackers in Starcraft II
	%p.help-block
		Table is color coordinated. Red means more guilty votes than innocent, Green means more innocent votes than
		guilty, and Yellow means they're even.
	%p.help-block
		Clicking the player name will bring you to a list of all submitted games for that player, while clicking the map
		name will bring you to the specific replay.
	%p.help-block
		Message InfCereal on TeamLiquid.net if you have any problems/suggestions.
.col-xs-12.nudge-down
	%table.table.table-striped.table-hover.table-bordered
		%thead
			%tr
				%td Server
				%td Name
				%td Race
				%td Map
				%td Uploaded
		%tbody
			-@games.each do |g|
				%tr(class="#{g.player.is_guilty? ? 'danger' : g.player.is_innocent? ? 'success' : 'warning' }")
					%td
						-if g.player.server == "EU"
							%img(src="/img/eu.png")
						-if g.player.server == "NA"
							%img(src="/img/us.png")
						-if g.player.server == "SEA"
							%img(src="/img/au.png")
						-if g.player.server == "CN"
							%img(src="/img/cn.png")
						-if g.player.server == "KR"
							%img(src="/img/kr.png")
						#{g.player.server}

					%td
						%a(href="/search/#{g.player.id}/games" title="View all games for this player") #{g.player.name}
					%td
						-if g.player.race == "Zerg"
							%img(src="/img/ico_race_z.png")
						-if g.player.race == "Protoss"
							%img(src="/img/ico_race_p.png")
						-if g.player.race == "Terran"
							%img(src="/img/ico_race_t.png")
						-if g.player.race == "Random"
							%img(src="/img/ico_race_r.png")
						#{g.player.race}
					%td
						%a(href="/game/#{g.id}" title="View this game") #{g.map}
					%td #{g.uploaded_at.to_date}
