.col-xs-12.col-sm-8.col-md-5.nudge-down
	%p.help-block
		Simple app to catch hackers in Starcraft II
	%p.help-block
		Table is color coordinated. Red means more guilty votes than innocent, Green means more innocent votes than
		guilty, and Yellow means they're even.
	%p.help-block
		Clicking the player name will bring you to a list of all submitted games for that player, while clicking the map
		name will bring you to the specific replay.
	%p.help-block
		Message InfCereal on TeamLiquid.net if you have any problems/suggestions.
.col-xs-12.nudge-down
	%table.table.table-striped.table-hover.table-bordered
		%thead
			%tr
				%td Server
				%td Name
				%td Race
				%td Last Game
				%td Last Game Uploaded
		%tbody
			-@players.each do |p|
				-g = p.games(:order => [ :uploaded_at.desc]).first
				%tr(class="#{p.is_guilty? ? 'danger' : p.is_innocent? ? 'success' : 'warning' }")
					%td
						%img(src="/img/#{get_server_abbr[p.server.to_sym]}.png")
						#{p.server}
					%td
						%a(href="/search/#{p.id}/games" title="View all games for this player") #{p.name}
					%td
						%img(src="#{get_race_image(p.race)}")
						#{p.race}
					%td
						%a(href="/game/#{g.id}" title="View this game") #{g.map}
					%td #{g.uploaded_at.to_date}
